<head>
<style media="screen" type="text/css">
h1 {
    color:dark grey;
    font-family:"Mistral";
    font-size:40px;
}
div {
    background-color:maroon;
    color:beige;
    font-family:Verdana;
    text-align:center;
    padding-top:0px;
    padding-bottom:0px;
    border-radius:8px;
    margin:30px;
    width:320px;
    height:568px;
}
a {
    width:50%;
    text-decoration:none;
    color:white;
}
</style>    
</head>
<body>
<div>
<br>
<br>
<h1>inspHAIRation!</h1><br>
<h3>Sowwy!<br><br> There are no<br>hairstyles that match<br>your search.</h3><br><br>
<a href="/hairstyles/search/">Search again?</a>
</div>
</body>